<a href="https://colab.research.google.com/github/WendyParra/Inteligencia-Artificial-Parra/blob/main/Practica1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Evaluación Diagnóstica

1.- ¿Cómo se declara una lista en Phyton?

In [ ]:
my_list=[1,2,3]
print(my_list)

[1, 2, 3]

2.- ¿Qué función se usa para conocer el número de elementos en una lista?

In [ ]:
len(my_list)

3

3.- ¿Qué resultado obtendremos al ejecutar el siguiente código?

In [ ]:
a=[1,2,3,4,5]
print(a[::-1])

[5, 4, 3, 2, 1]

4.- ¿Cúal es el resultado de la siguiente expresión?

In [ ]:
print(3*"5"+2)

TypeError: can only concatenate str (not "int") to str

5.- ¿Qué salida generará el siguiente código?

In [ ]:
def foo (x,y=[]): #def es describir función, espera dos parametros uno en X y otro en Y donde y es una lista donde se declara vacio
  y.append(x) #.append da el valor de X a la lista
  return y #retorna el valor de Y

print(foo(1))
print(foo(2,[]))
print(foo(3))

[1]
[2]
[1, 3]

6.- ¿Qué resultado obtendremos al ejecutar el siguiente código?

In [ ]:
def multiply_list(numbers,factor):
  result=[]
  for number in numbers:
    for number in numbers:
        result.append(number*factor)
    return result

my_list=[1,2,3]
output=multiply_list(my_list,2)
print(output)

[2, 4, 6]

# Práctica en phyton

Clasificación de una lista de números pares e impares

In [ ]:
#declaración de variables
numeros=[10,25,36,98,77,34,89,58]
pares=[]
impares = []
#print(type[numeros[0]])     funcion type es para ver que tipo de dato es la variable y se imprime

In [ ]:
#ciclo for para recorrer la lista
for numero in numeros:
  if numero % 2 == 0:
    #pares[0] = numeros[0]; en java, c, c# "o es el valor de 'i' "
    pares.append(numero)
  else:
    impares.append(numero)

In [19]:
#impresion de resultados
print("pares: ",pares , " total: ", len(pares))
print("impares: ", impares, "total ", len(impares))

pares:  [10, 36, 98, 34, 58]  total:  5
impares:  [25, 77, 89] total  3

In [23]:
#Funcion suma de los números pares
def sumaPares(lista):
  suma = 0
  for numero in lista:
    suma += numero
  return suma

In [25]:
#impresión de la suma
print("Suma de pares" , sumaPares(pares))
print("Suma de impares" , sumaPares(impares))

Suma de pares 236
Suma de impares 191